<md-content class="md-padding">
  <md-card class="register-card">
    <md-toolbar layout-align="center center" class="md-hue-1">
      <div class="md-headline">Register</div>
    </md-toolbar>
    <md-card-content>

      <form name="form" ng-submit="register.fnRegister(form)" novalidate>
        <div layout="column">
          <md-input-container>
            <md-icon md-font-set="fa fa-lg fa-user md-primary m-t-5"></md-icon>
            <label>Name</label>
            <input required name="name" ng-model="register.user.name">

            <div ng-messages="form.name.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container>
            <md-icon md-font-set="fa fa-lg fa-envelope md-primary m-t-5"></md-icon>
            <label>Email</label>
            <input required name="email" type="email" ng-model="register.user.email">

            <div ng-messages="form.email.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="email">Enter valid email address</div>
            </div>
          </md-input-container>
          <md-input-container>
            <md-icon md-font-set="fa fa-lg fa-lock md-primary m-t-5"></md-icon>
            <label>Password</label>
            <input required type="password" name="password"
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" ng-minlength="6" ng-model="register.user.password">

            <div ng-messages="form.password.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="minlength">Password must be 6 character long </div>
              <div ng-message="pattern">Password pattern not satisfied</div>
            </div>
          </md-input-container>
          <md-input-container>
            <md-icon md-font-set="fa fa-lg fa-lock md-primary m-t-5"></md-icon>
            <label>Re-Type Password</label>
            <input required type="password" password-verify="register.user.password"
                   name="c_password" ng-model="register.user.c_password">

            <div ng-messages="form.c_password.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="passwordVerify">Password must match.</div>
            </div>
          </md-input-container>
          <div layout="column" >
            <md-button class="md-raised md-primary md-hue-1 m-b-10" type="submit">Sign up</md-button>
            <md-button type="submit" class="md-raised" ui-sref="main.login">Login</md-button>
          </div>
        </div>
      </form>
    </md-card-content>
  </md-card>

</md-content>
