<md-content class="md-padding back-ground">
  <md-card class="login-card card-width">
    <md-toolbar class=" md-hue-1" layout-align="center center">
      <div class="md-headline">
        Login
      </div>
    </md-toolbar>
    <md-card-content>

      <div layout="row" layout-align="center center" class="m-b-10" >
        <md-button aria-label="facebook login" class="md-fab md-mini md-primary" ng-click="login.fnLoginOauth('facebook')">
          <md-icon md-font-set="fa fa-lg fa-facebook m-t-10"></md-icon>
        </md-button>
        <md-button aria-label="google login" class="red md-fab md-mini" ng-click="login.fnLoginOauth('google')">
          <md-icon md-font-set="fa fa-lg fa-google-plus m-t-10"></md-icon>
        </md-button>
        <md-button aria-label="twitter login" class="md-fab md-mini twitter-color" ng-click="login.fnLoginOauth('twitter')">
          <md-icon md-font-set="fa fa-lg fa-twitter m-t-10"></md-icon>
        </md-button>
      </div>

      <form name="form" ng-submit="login.fnLogin(form)" novalidate>
        <div layout="column">
          <md-input-container>
            <md-icon md-font-set="fa fa-lg fa-user md-primary m-t-5"></md-icon>
            <label>Email</label>
            <input required type="email" name="email" ng-model="login.user.email">

            <div ng-messages="form.email.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="email">Enter valid email address</div>
            </div>
          </md-input-container>

          <md-input-container>
            <md-icon md-font-set="fa fa-lg fa-lock md-primary m-t-5"></md-icon>
            <label>Password</label>
            <input required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                   ng-minlength="6" name="password" ng-model="login.user.password">

            <div ng-messages="form.password.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="minlength">Password must be 6 character long</div>
              <div ng-message="pattern">Password must contain one capital, small and numeric value</div>
            </div>
          </md-input-container>

          <div layout="column">
            <md-button class="md-raised md-primary md-hue-1 m-b-10" type="submit">Login</md-button>
            <md-button type="submit" class="md-raised" ui-sref="main.register">Register</md-button>
          </div>
        </div>
      </form>
    </md-card-content>
  </md-card>
</md-content>

