.bgColor{
  background-color: rgba(0,255,255,0.3);
}
.bgColor:hover{
  background-color: rgba(0,255,255,1);
}
.rotate{
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
 .fa-rotate-90{
  -webkit-transform: rotate(90deg);
   transform: rotate(90deg);
}

